{{extend 'layout.html'}}
<link rel="stylesheet" href={{=URL('static', '/chosen/chosen.css')}} />
<h5>Seleccione los usuarios a los que desea enviar una copia del documento seleccionado</h5>
<br />
	{{=LOAD('correspondencia','ver_actual.html',args=[request.args(0)],ajax=True)}}
<br />
<form action="" enctype="multipart/form-data" method="post">
    <table>
    	<tr>
            <td><label>Con Copia a...: </label></td><td>{{=usuarios}}</td>
        </tr>
        <tr>
            <td></td><td>{{=error}}</td>
        </tr>
        <tr>
            <td></td><td><input type='submit' value='Enviar'></td>
        </tr>
    </table>
    <input type='hidden' value='cliente' name='formcc'>
</form>
<script src={{=URL('static', '/chosen/chosen.jquery.js')}} type="text/javascript"></script>
<script>
    $("#no_table_con_copia").addClass("chzn-select");
    $("#no_table_con_copia").attr('multiple', '');
    $("#no_table_con_copia").attr('style', "width:400px");
    $("#no_table_con_copia").attr('data-placeholder', 'Seleccione los destinatarios');
    //set chosen
    $(".chzn-select").attr('multiple', '');
    $(".chzn-select").attr('style', "width:400px");
    $(".chzn-select").attr('data-placeholder', 'Seleccione los destinatarios');
    //$(".chzn-select").attr('data-placeholder',"Seleccione los destinatarios (CC)");
    $(".chzn-select").chosen();
</script>
